// Checkout area at the bottom of the page.
.cart-checkout {
  text-align: center;

  .btn-primary {
    margin: 15px auto;
  }
  .btn-link {
    padding: 6px 4px;
  }
}

// The big cart and dollar sign in the checkout section.
.cart-price {
  .cart-icon {
    font-size: 48px;
  }
  .price {
    margin-left: 8px;
    font-size: 24px;
  }
}


// The list of items to add to your cart, with the current quantities.
.cart-list {
  @extend .list-unstyled;
}

.cart-list-item {
  .contents {
    text-align: center;
    margin: 40px;
    padding: 15px 15px 20px 15px;

    &:hover {
      background: rgba($gray-light, 0.1);
    }
  }
  .title {
    font-size: 24px;
  }
  .details {
    padding: 2px 0;
  }
  .controls {
    margin-top: 8px;
  }
  .product-image-container {
    padding: 8px;
  }
  .product-image {
    display: inline;
    border: 1px solid $gray;
    padding: 10px;
    box-shadow: 1px 1px 0 rgba($gray, 0.5);
  }
}

// Strip out some padding / margin on smaller screens.
@media (max-width: 1199px) {
  .cart-list-item {
    .contents {
      margin: 20px;
    }
  }
}

@media (max-width: 767px) { 
  .cart-list-item {
    .contents {
      margin: -1px 15px;  // puts it into a vertical list
    }
  }
}