$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

@import 'resources';
@import 'cart';
@import 'products';

.inline-form-control {
  display: inline;
  width: 80px;
  margin: 0 8px;
}
