<!--<h1>Exotic Meat Market Checkout</h1>-->
<div class="cart-price">
  <i class="fa fa-shopping-cart cart-icon"></i>
  <span class="price">${{cart.total}}</span>
  <button class="btn btn-link" ng-click="cart.clear()">empty</button>
</div>

<ul class="cart-list">
  <li ng-repeat="product in products" class="cart-list-item col-sm-6 col-md-4">
    <div class="contents">
      <h2 class="title">{{product.name}}</h2>

      <div class="product-image-container">
        <img ng-src="{{product.imageUrl}}" class="img-responsive img-circle product-image" />
      </div>
  
      <div class="details">
        <span ng-show="!!cart.items[product.id]">
          <strong>{{cart.items[product.id]}}x</strong> @
        </span>
        ${{product.price}} per unit
      </div>
      
      <div class="controls">
        <button class="btn btn-default" ng-click="cart.add(product.id)">
          <i class="fa fa-shopping-cart"></i> Add to cart
        </button>
      </div>
    </div>
  </li>
</ul>