<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
  <div class="alert alert-info" ng-show="!welcomeMessageDimissed">
    Welcome to the Exotic Meat Market! Click below to add some tasty meat to your cart.
    <button type="button" class="close" data-dismiss="alert" ng-click="dismissWelcomeMessage()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
  </div>
</div>
<div class="clearfix"></div>

<ul class="cart-list">
  <li ng-repeat="product in products" class="cart-list-item col-sm-6 col-md-4">
    <div class="contents">
      <h2 class="title">{{product.name}}</h2>

      <div class="product-image-container">
        <img ng-src="{{product.imageUrl}}" class="img-responsive img-circle product-image" />
      </div>
  
      <div class="details">
        <span ng-show="!!cart.items[product.id]">
          <strong>{{cart.items[product.id]}}x</strong> @
        </span>
        ${{product.price}} per unit
      </div>
      
      <div class="controls">
        <button class="btn btn-default" ng-click="cart.add(product.id)">
          <i class="fa fa-shopping-cart"></i> Add to cart
        </button>
      </div>
    </div>
  </li>
</ul>
<div class="clearfix"></div>

<hr />

<div class="cart-checkout">
  <div class="cart-price">
    <i class="fa fa-shopping-cart cart-icon"></i>
    <span class="price">${{cart.total}}</span>
  </div>

  <button class="btn btn-lg btn-primary" ng-click="checkOut()" ng-disabled="cart.total === 0">Check out</button>

  <div class="center-block cart-empty">
    Changed your mind? You can <button class="btn btn-link" ng-click="emptyCart()">empty</button> your cart.
  </div>
</div>