<button class="btn btn-primary resource-controls" ng-click="addRule()">
  <i class="fa fa-plus"></i> Add rule
</button>

<h1>Pricing rules</h1>

<ul class="resource-list">
  <li ng-repeat="rule in pricingRules" class="resource-list-item">
    <h2 class="title">{{rule.name}}</h2>

    <div class="controls">
      <button class="btn btn-link" ng-click="editRule(rule)">edit</button>
      <button class="btn btn-link" ng-click="deleteRule(rule)"><span class="text-danger">delete</span></button>
    </div>
    
    <div class="details">
      <em>Type:</em> {{rule.type}}
    </div>
    <div class="details">
      <em>Options:</em> {{rule.option}}
    </div>
  </li>
</ul>